/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* Body and Container Styles */
body {
    font-family: Arial, sans-serif;
    text-align: right;
}

.container {
    padding: 10% 20%;
}

/* Tab Styles */
.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align tabs to the right */
    margin-bottom: 0;
}

.tabs li {
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis (...) after cutoff */
    white-space: nowrap; 

    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px 5px 0px 0px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    width: 40px;
}

.tabs li.active {
    border-radius: 5px 5px 0px 0px;
    background: #34A4E3;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

/* Tab Title Styles */
.tab-title {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

/* Tab Content Styles */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd; /* Border for the content area */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow to content */
}

.tab-content.active {
    display: block;
}

/* Card Container Styles */
.card-container {
    display: flex;
    gap: 20px;
}

/* Card Styles */
.card {
    text-align: left; /* Align text to the left */
    width: calc(33% - 20px);
    padding: 15px;
}

#myTabContent {
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Media Query for Viewport Width Less Than 1000px */
@media (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .tabs {
        flex-direction: column; /* Stack tabs vertically */
        align-items: flex-end; /* Align tabs to the right */
        margin-top: 0;
    }

    .tab-content {
        display: none;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .tabs li {
        margin-bottom: 5px; /* 5px gap between tabs */
        margin-left: 0px;
        border-radius: 0px 5px 5px 0px;
    }

    .tabs li.active {
        border-radius: 0px 5px 5px 0px;
        background: #34A4E3;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        color: white;
    }

    .card-container {
        flex-direction: column; /* Stack cards vertically */
    }

    .card {
        width: auto; /* Cards take full width */
    }

    #myTabContent {
        background: #FFF;
        box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }
}
